/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top:10px;
    padding-bottom: 20px;
}
.tabs {
    /**
   * Setting display to flex makes this container lay
   * out its children using flexbox, the exact same
   * as in the above "Stepper input" example.
   */
    display: flex;
    border-bottom: 1px solid #D7DBDD;
  
}
.logobaslik {
    padding: 15px;
    position: relative;
    left: 180px;
}
.h1 {
    font-size: 2.5em;
    font-weight: bold;
   
   
}
.baslik {
    color: #ec2c22;
   
}
.deneme {
  
    padding: 15px;
    position: relative;
    left: 180px;
}
.hsg-footer__layout {
    box-sizing: content-box;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
    padding: 0;
}
.symbol-xxl {
    font-size: 1.75rem !important;
}
.div1 {
    border: 0.5px solid gray;
    background-color: #E5E4F0;
}
.div2{
    border:0.5px solid black;
    background-color:white;
}
.tab {
    cursor: pointer;
    padding: 5px 15px;
    color: black;
    font-size: 16px;
    border-bottom: 3px solid transparent;
}
.kampanyabuton {
    display: table-cell;
    vertical-align: top;
    padding: 8px;
}
.konumbuton {
   position:center;
}
.mtxs {
    margin-top: 10px ;
}

.mlxxl {
    margin-top: 10px;
    margin-left: 350px ;
}
.mlxxl2 {
    margin-top: 5px;
    margin-left: 350px;
}
.pas {
    padding: 15px !important;
}

.bg-brighter {
    background-color: #fff !important;
}

.box-basic {
    border-color: #dbd9db;
}

.box {
    position: relative;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 10px;
}
    .tab.is-tab-selected {
        border-bottom-color: red;
    }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 50px;
}
.topleft {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.product-list-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.column-left.sync-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f5decc;
}
.column-center.forms-sfdc-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #d1e0f2;
}
.column-right.docs-sfdc-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #d6bad4;
}
a {
    background-color: transparent;
    font-family: Rubik,sans-serif;
    color: firebrick;
    line-height: 40px;
    font-weight: 600;
    text-decoration: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pls {
    padding-left: 15px !important;
}

.pts {
    padding-top: 15px !important;
}

.pbm {
    padding-bottom: 20px !important;
}

.prm {
    padding-right: 20px !important;
}
.ortalama{

    margin-left: 0 auto;
    margin-right: 0 auto;
}
.arrange {
    display: table;
    min-width: 100%;
    table-layout: auto;
    padding: 0;
    margin: 0;
}
.container {
   
    width: 650px
}

.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    width: 350px;
    background-color: #e5e8ed;
    font-weight: 500
}

.form-control: focus {
    color: #000
}

.second {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #aaaaaa
}

.text1 {
    font-size: 13px;
    font-weight: 500;
    color: #56575b
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b
}

.text3 {
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386
}

.text3o {
    color: #00a5f4
}

.text4 {
    font-size: 13px;
    font-weight: 500;
    color: #828386
}

.text4i {
    color: #00a5f4
}

.text4o {
    color: white
}

.thumbup {
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px
}

.thumbupo {
    color: #17a2b8
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
   
   
    .body-content {
        padding: 0;
    }
}
